
<!DOCTYPE html>
<html>

    <head>
        <title>Article</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
    <style>
        body {
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            background-color: #fdfdfd;
        }

        .head_text {
            color: white;
        }

        .card {
            box-shadow: 0 16px 48px #E3E7EB;
        }
    </style>
    <div class="container">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
            <p class=" text-muted"> {{ post.created_on }}</p>
            <p class="card-text ">{{ object.content | safe }}</p>
        </div>
        </div>
    </div>
    </div>
</body>
</html>